html,
body {
  height: 100%;
  background-color: lightblue;
  max-width: 100%;
  overflow-x: hidden;  
}

.card{
  background-color: #F3F0D7;
}
.form-signin {
  padding-top: 10% !important;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

 .form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.task{
  background-color: #F3F0D7;
}
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

.chat-sent-message, .chat-received-message {
  display: flex;
  flex-direction: row;
}

.chat-received-message {
  justify-content: start;
}

.chat-sent-message {
  justify-content: end;
}

.chat-sent-message div, .chat-received-message div {
  width: 80%;
  border-radius: 10px !important;
}

.chat-sent-message div {
  background-color: rgb(108, 197, 226);
}

.chat-received-message div {
  background-color: rgb(224, 224, 224);
}
